{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

    <div class="jumbotron">
        <img src="{% static 'img/banner.jpg' %}">
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 change">
                <h1>Find employers who hire returning citizens.</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" href="{% url 'search' %}" role="button">Search/rate employers »</a>
                <h4 class = "buttontagline"> Find out which companies hire returning citizens and rate your experiences looking for a job.</h4> 
            </div>

            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">List your company »</a>
                <h4 class = "buttontagline"> Add information and policies around your process for hiring returning citizens. </h4>
            </div>

            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">Shop conscious »</a>
                <h4 class = "buttontagline">Learn about the companies and practices that support returning citizens.</h4>
            </div>
        </div>
    </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

$('document').ready(function() {
        $('.jumbotron').each(function() {
            var obj = $(this);
            var imgHeight = $('img',obj).height();
            $(this).height(imgHeight);
        });

        $( window ).resize(function() {
          $('.jumbotron').each(function() {
            var obj = $(this);
            var imgHeight = $('img',obj).height();
            $(this).height(imgHeight);
        });
        });

});



</script>

{% endblock %}